# 该文件内是修改的参数

# powerin表示功耗输入文件，powerout表示功耗输出文件；
# powerfreq表示多少个cycle求一次功耗，powervol是电压。
# 其他的是求noise的，不用管

powerin /home/pan/Ubuntu/DVFS/GAN/gem5-dvfs/parameter/bayes_o3.txt
powerout /home/pan/Ubuntu/DVFS/GAN/gem5-dvfs/m5out/power.txt
powerfreq 29 
powervol 1

noisein /home/pan/Ubuntu/DVFS/GAN/gem5-dvfs/parameter/pr.txt
noiseout /home/pan/Ubuntu/DVFS/GAN/gem5-dvfs/m5out/noise.txt
noisetime 0.0001
